<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
    <title>twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/assets/vendor/angular/angular.js"></script>
    <script src="/assets/vendor/angular-resource/angular-resource.js"></script>
    <script src="/assets/js/controllers.js"></script>
</head>

<body ng-controller="TweetController">

    <ul>
        <div ng-repeat="tweet in tweets">
            <span>{{tweet.user}}</span>
            <p>{{tweet.text}}</p>
        </div>
    </ul>

</body>
</html>